.Weeklycontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.Weeklyitems{
    color: darkorange;
    font-weight: 100px;
    padding:10px;
}